.main-receptek video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .9;
}

.main-receptek {
    position: relative;
    left: 0;
    top: 0;

}
h2 {
    z-index: 10;
    position: absolute;
    color:white;
    top: 100px;
    left: 50%;
    font-size: 2.2em;
    font-weight: 400;
    text-transform: uppercase;
    width: 200px;
    padding-bottom: 100px;
    margin: auto;
}
.main-receptek p {
    position: relative;
    top: 200px;
    margin: auto;
    font-size: 0.85em;
    padding-bottom: 200px;
    font-weight: 400;
    max-width: 1400px;
    text-align: justify;
    color: white;
}

.container-receptek {
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: auto;
    max-width: 1400px;

}
.receptek-card {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 25px;
    box-shadow: 2px 3px 3px 3px rgb(43, 33, 20);
    box-sizing: inherit;
    width: 300px;
    min-width: 200px;
    margin-bottom: 20px;
    margin-left: 60px;
}
.receptek-card h3 {
    color: white;
    font-size: 1.2rem;
    margin: 10px 10px;
    text-align: center;
    text-shadow: 0.8px 0.8px black;
    text-transform: uppercase;
}

.receptek-card img{
    display: inline;
    width: 300px;
    min-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
}

.receptek-card:hover{
    transform: scale(0.8) translateX(-10px);
    transition: 2s;
    color: var(--main-hover-color);
    font-size: 1.3rem;
}
/*****************************************/
/*************Recipes********************/
/***************************************/

.main_recipes img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.main_recipes {
    position: relative;
    left: 0px;
    top: 0px;
}
.main-recipes-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

/************************************/
/*****recipes-container*************/

.recipes_container {
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: auto;
    max-width: 1200px;
}
.recipes-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 25px;
    box-shadow: 2px 3px 3px 3px rgb(43, 33, 20);
    box-sizing: inherit;
    width: 1200px;
    min-width: 200px;
    margin-bottom: 20px;
    margin-left: 60px;
}
.recipes-items h4 {
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    margin: 10px 10px;
    text-align: right;
    text-shadow: 0.6px 0.6px black;
    text-transform: uppercase;
}

.recipes-tartalom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: initial;
    margin: 20px 20px 10px;
    padding: auto;
    /*border: 1px solid black;*/
    box-shadow: 1px 2px 2px 2px rgb(43, 33, 20);
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.185);
}
.recipes-items-img {
    position: relative;
    width: 360px;
    height: inherit;
    min-width: 200px;
    border-radius: 30px 0px 0px 30px;
}

.recipes-text {
    display: space-between;
    width: 600px;
    padding: 20px 20px 0px 30px;
    color: white;
    font-weight: 350;
    background-color: rgba(255, 255, 255, 0.15);
}

.recipes-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: justify;
    padding: auto;
    color: white;
    text-shadow: 0.3px 0.3px rgb(0, 0, 0);
    border-radius: 0 20px 20px 0;
    background-color: rgba(255, 255, 255, 0.35);
    width: 200px;
}
.recipes-list p {
    padding-top: 20px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    font-weight: 380;
    text-shadow: 0.3px 0.3px black;
    width: 580px;
}
.recipes-list ul {
    text-align:left;
    
}
.felgomb {
    text-decoration: none;
    list-style: none;
    padding-top:50px;
    padding-bottom: 0;
    align-items: right;
    color: var(--main-hover-color);
    
    

}